.form-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
}

/* From Uiverse.io by Rodrypaladin */ 
.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
}
